<html>
<head>
    <title>Steam info</title>
    {% stylesheets "bundles/Steam/css/*" filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all"/>
    {% endstylesheets %}
</head>
<body>
<div class="center container">
    <h1 class="center_text">
        Welcome to the best steam information website!
    </h1>
    <form action="{{ path('steam_user') }}" method="GET">
        <br>
        <label class="label" for="steam_id">Enter steam id here</label>
        <input class="textfield" id="steam_id" name="steam_id" type="text">
        <input class="button" type="submit">
        <br>
    </form>
    {% if SUCCESS is defined %}
        <div class="content">
            <br>
            <img src="{{ userAvatar }}">
            <br>
            <a href="{{ profileUrl }}"><h3>{{ name }}</h3></a>
            <br>
            <h3>Currently playing :  {{ nameGame }}</h3>
        </div>

    {% endif %}
</div>

</body>
</html>
